*{
	/*border: 1px solid #000 !important;*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	color: #000;
	font-family: "Arial", "微軟正黑體" , sans-serif;
	background-color: #fff;
}
header{
	width: 100%;
	height: 100px;
	background-color: #fff;
}

/*--------- component ---------*/

a{
	text-decoration: none;
	color: #000;
}
.closebtn{
	height: 15px;
	width: 15px;
}
button,input{
	cursor: pointer;
}
.hideBox{
	height: 0;
	border: none !important;
	overflow: hidden;
	display: none;
}

/*------------ section ------------*/

section{
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 10px;
	letter-spacing: 0.08em;
	/*align-items: center;*/
}
section .container{
	width: 70%;
}
section .container .title{
	font-size: 25px;
	font-weight: bolder;
	text-align: center;
	margin: 50px auto 20px auto;
}
@media(max-width: 768px){
	section .container{
		width: 90%;
	}	
}
@media(max-width: 425px){
	section .container{
		width: 100%;
	}
}
/*------------ item ------------*/


.cart_content{
	padding: 20px 50px 50px 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.cart_content .itemGroup{
	width: 100%;
}
.cart_content .item{
	background-color: #F5F5F5;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
}
.cart_content .item .delete_btn{
	position: absolute;
	top: 8px;
	right: 8px;
}
.cart_content .item .delete_btn a{
	width: 100%;
	height: 100%;
}
.cart_content .item .item_left{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.cart_content .item .item_left .pic{
	margin: 20px 40px 30px 40px;
	border: 1px solid #999;
	padding-top: 100px;
	min-width: 100px;
	background-position: center;
	background-size: cover;
}
.cart_content .item .item_right{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.cart_content .item .item_price,
.total_detail .final_price .price{
	color: red;
}
.cart_content .item .item_right .item_price{
	padding-left: 40px;
	margin-right: 60px;
}
.cart_content .item .count{
	display: flex;
	align-items: center;
	background-color: #efefef;
	padding: 2px 5px;
	border-radius: 5px;
}
.cart_content .item .count #countnum{
	margin: auto 5px;
	width: 20px;
	text-align: center;
}
.cart_content .item .count .btn{
	border: none;
	margin: 5px;
	font-size: 15px;
}

@media(max-width: 768px){
	.cart_content{
		align-items: center;
	}
}
@media(max-width: 425px){
	.cart_content{
		align-items: center;
	}
	.cart_content .item{
		flex-direction: column;
		background-color: #fff;
		padding-bottom: 20px;
	}
	.cart_content .item .item_left{
		flex-direction: column;
		width: 90%;
		padding-top: 20px;
		margin-bottom: 10px;
	}
	.cart_content .item .item_left .pic{
		padding-top: 100%;
		width: 100%;
	}
	.cart_content .item .item_left .product_name{
		font-size: 18px;
	}
	.cart_content .item .item_right{
		flex-direction: column-reverse;
	}
	.cart_content .item .item_right .count .btn{
		font-size: 18px;
	}
	.cart_content .item .count #countnum{
		font-size: 16px;
	}
	.cart_content .item .item_right .count,.item_price{
		margin: 10px auto;
	}
	.cart_content .item .item_right .item_price{
		font-size: 18px;
	}
}
/*------------ total_detail ------------*/

.total_detail{
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 10px;
	margin: 10px;
}
.total_detail .total_frame{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.total_detail .total_price,.shipping,.discount,.final_price{
	text-align: right;
	width: 40%;
	display: flex;
	justify-content: space-between;
	margin: 5px;
}
.total_detail .button{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.total_detail .button .btn{
	background-color: rgb(255,241,0);
	border: none;
	color: #000;
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.15em;
	font-size: 10px;
	margin-top: 40px;
}
.total_detail hr{
	width: 100%;
	border-top: 1px solid #000;
	margin: 15px 0px;
}
@media(max-width: 1024px){
	.total_detail{
		width: 50%;
	}
}
@media(max-width: 768px){
	.total_detail{
	width: 80%;
	}
}
@media(max-width: 425px){
	.total_detail{
		width: 90%;
		display: flex;
		font-size: 15px;
	}
	.total_detail .final_price .price{
		font-size: 18px;
	}
	.total_detail .button{
		flex-direction: column;
		margin-top: 20px;
	}
	.total_detail .button .btn{
		margin-top: 10px;
		font-size: 14px;
	}
}
/*------------ footer ------------*/

footer{
	width: 100%;
	height: 100px;
	background-color: #fff;
}
