*{box-sizing: border-box;}

html,body{margin: 0; padding: 0; }



header{}
  
.slider-top {
  width: 100%;height: 500px;}


.slider-top div {text-align: center;
  background-size: cover;
  width: 100%;height: 500px;}

.slick-next{margin-right: 30px;}

.slick-prev{margin-left: 30px;}


#news1 {width: 224px;height: 144px;background-size: contain;margin: 50px auto;}

.text1{margin: auto;font-size: 1em;}

.news_content {
  width:100%;
  height:auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;}


.news_block_s{
  width: 80%;height: auto; 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px}


.content_s1{
  background-size: cover;
  text-align:center; width: 100%; 
  padding-top: 100%; 
  cursor: pointer;}

.content_s1:hover{opacity: 0.5;}


.news_ditel{width: 23%;height: 40%}

.h5{font-size: 1.1em;margin: 20px 0;}

.news_texts_s {
  font-size: 15px;
  padding-bottom: 20px}


#maskArea{position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
  }


#showPhoto{
  background-color: white;
  margin: auto;
  width: 70%;
  height:60%;
  margin-top: 5%;
  position: relative;
  display:block;
  
}

#showPhoto_info { 
  width: 100%;
  height:100%;
  margin-top: 10%;
  display: block;
  display: flex;
  justify-content: center;
}

#showPhoto_img{ 
  display: block;
  width: 50%;height: 100%; 
  background-size: cover;
  }

#close {
  width: 25px;height: 25px;
  display: block;
  background-size:contain; 
  position: absolute;right:0;
  cursor: pointer;}

#close:hover{opacity: 0.6}



#showPhoto_text .h3{
  font-weight:900;
  font-size: 1.2em;
  color:red;
  text-align: left;
  display: block;
  margin: 0 0 20px 0;}

#showPhoto_text{ 
  padding: 15px 40px;
  line-height: 30px; width: 50%;
  float: right;display: block;
  margin:auto;margin-top: 1%;
background-color: white;}

@media (max-width: 768px){
  
  .news_ditel{width: 100%;height: auto;}
  
  .content_s1{
    background-size: cover; cursor: pointer;}
  .news_texts_s{display: none;}

  h2{font-size: 1em;}
  
  
  .news_texts{display: none;}
  
  #maskArea{}
  
  #showPhoto{width: 80%;height: auto;top:90px;background-color: white}
  
  #showPhoto_info{width: 100%;height: 90%; ;display: flex; flex-direction: column;display: block;background-color: white}
  
  #showPhoto_img{width: 100%;height: 250px;background-size: cover;margin-left:0px}
  
  #showPhoto_text{width: 100%;text-align: left; font-size: 0.8em;line-height: 20px;height: auto;background-color: white}

}

/*
@media (max-width: 414px){
  
  .news_ditel{width: 100%;height: auto;}
  
  .content_s1{
    background-size: cover; cursor: pointer;}
  .news_texts_s{display: none;}

  h2{font-size: 1em}
  
  .news_texts{display: none;}
  
  #maskArea{}
  
  #showPhoto{width: 70%;height: 100%;display: block}
  
  #showPhoto_info{width: 100%;height: 100%; display: flex; flex-direction: column;display: block}
  
  #showPhoto_img{width: 100%;height: 300px;background-size: cover;margin-left:0px}
  
  #showPhoto_text{width: 100%;text-align: left; font-size: 0.8em;line-height: 20px}

}
*/

