*{
	/*border: 1px solid #000 !important;*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	color: #000;
	background-color: #fff;
	font-family: "Arial", "微軟正黑體" , sans-serif;
}
header{
	width: 100%;
	height: 100px;
	background-color: #fff;
}

/*--------- component ---------*/

a{
	text-decoration: none !important;
	color: #000;
}

/*=============== shop ===============*/

section{
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	font-size: 10px;
	letter-spacing: 0.08em;
}

/*--------- slider ---------*/

section .sliderBlock{
	position: relative;
	width: 90%;
	display: flex;
	justify-content: center;
	padding: 60px 0;
}
section .sliderShop{
	position: relative;
	width: 80%;
}

section .sliderShop .sliderPic{
	padding-top: 400px;
	background-size: cover;
	background-position: center;
}
section .sliderShop>button,
.sliderShop .slick-dots{
	display: none !important;
}

@media(max-width: 768px){
	section .sliderBlock{
		width: 90%;
	}
	section .sliderShop{
		width: 90%;
	}
}

@media(max-width: 425px){
	section .sliderBlock{
		width: 100%;
		padding: 0 0 60px 0;
	}
	section .sliderShop{
		width: 100%;
	}
}

/*--------- shop logo ---------*/

section .shopLogo{
	text-align: center;
	font-size: 25px;
	position: relative;
	font-weight: bold;
	font-family: Medici Script;
}
/*section .shopLogo:before{
	content: "";
	display: block;
	background-color: rgba(255,241,0);
	height: 50%;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -10%;
	z-index: -9;
}*/
section .shopLogo img{
	width: 224px;
	/*height: 118px;*/
}
@media(max-width: 425px){
	section .shopLogo{
		font-size: 30px;
	}
}
/*--------- shopNav ---------*/

section .shopNav{
	display: flex;
	justify-content: center;
	width: 80%;
	padding: 40px;
	position: relative;
}
section .shopNav .shopClass{
	width: 50%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
section .shopNav .shopClass a{

	display: inline-block;
	padding: 5px 15px;
	font-size: 15px;
}
section .shopNav .shopClass li:after{
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background-color: rgb(255,241,0);
	margin-top: 3px;
	transition: width 0.3s;
}
section .shopNav .shopClass li:hover:after{
	width: 100%;
}
section .shopNav .searchbar{
	position: absolute;
	top: 0;
	right: 0;
	width: 15%;
	height: 30px;
	margin: 40px;
}
section .shopNav .searchbar .frame{
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #efefef;
	border-radius: 15px;
}
section .shopNav .searchbar .frame img{
	display: inline-block;
	width: 20px;
	height: 20px;
	z-index: 1;
	margin: 0 10px;
}
section .shopNav .searchbar .frame input{
	width: 80%;
	border: 0 none;
	border-radius: 15px;
	background-color: #efefef;
	padding: 5px;
	text-align: left;
}

@media(max-width: 768px){
	section .shopNav{
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	section .shopNav .searchbar{
		position: initial;
		width: 150px;
	}
	section .shopNav .shopClass{
		width: 60%;
	}
	section .shopNav .shopClass a{
	padding: 5px 15px;
	font-size: 15px;
	}
}

/*=============== products ===============*/

section .products{
	width: 80%;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;	
	padding: 50px 0;
}
section .products .item{
	width: 20%;
	margin: 20px 10px;
}
section .products .item .frame{
	width: 100%;
	height: 100%;
	position: relative;
	overflow:	hidden;
}
section .products .item .frame .pic{
	width: 100%;
	padding-top: 100%;
	background-position: center;
	background-size: cover;
}
section .products .item .frame .buy{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	opacity: 0.7;
	background-color: #fff;
	transition: all 0.5s;
}
section .products .item:hover .frame .buy{
	height: 15%;
}
section .products .frame .buy img{
	width: 15%;
	padding: 5px;
	margin-left: 50%;
	transform: translateX(-50%);
}
section .products .description{
	text-align: center;
	padding: 10px;
	line-height: 1.8em;
}
@media(max-width: 768px){
	section .products{
		padding-top: 0;
		
	}
	section .products .item{
		width: 30%;
	}
	section .products .description{
		font-size: 15px;
	}
}
@media(max-width: 425px){
	section .products .item{
		width: 90%;
	}
}
/*---------------  slick dots/button ---------------*/

.slick-dots
{
	position: absolute;
	bottom: 10px;

	display: block;

	width: 100%;
	padding: 0px;
	margin: 0;

	list-style: none;

	text-align: center;
}
.slick-dots li
{
	width: 50px;
	height: 50px;
	margin: 0 10px;
	padding: 0;
}
.slick-dots li button
{
	font-size: 0;
	line-height: 0;

	display: block;

	width: 20px;
	height: 20px;
	padding: 5px;

}
.slick-dots li button:before
{
	font-family: 'slick';
	font-size: 6px;
	line-height: 20px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	width: 50px;
	height: 3px;

	content: '';
	background-color: #000;
	text-align: center;

	opacity: .25;
	color: black;
}
.slick-dots li:hover button:before{
	opacity: 1;
}

section .sliderShop .slick-next{
	right: 30px;
	visibility: hidden;
}
section .sliderShop .slick-prev{
	left: 30px;
	z-index: 1;
	visibility: hidden;
}

/*------------ pages 頁碼 ------------*/

section .pages{
	display: flex;
	flex-direction: row;
	padding: 5px;
	margin-bottom: 50px;
	text-align: center;
}
section .pages *{
	padding: 5px;
}
section .page:hover,.nextArrow:hover{
	background-color: #efefef;
}

/*------------ backTop ------------*/

section .backTop{
	position: fixed;
	bottom: 40px;
	right: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 55px;
	width: 55px;
	padding: 15px;
	border-radius: 50%;
	background-color: rgb(255,241,0);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);

	cursor: pointer;
}
section .backTop:active{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
section .backTop p{
	text-align: center;
	color: #000;
}

/*------------ productBox 彈出商品頁視窗 ------------*/

.productBox{
	position: fixed !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	width: 70%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	overflow: hidden;

	padding: 80px;
	position: relative;
	z-index: 2;
}
.hideBox{
	visibility: hidden;
}
.productBox .closeBtn{
	position: absolute;
	right: 0;
	top: 0;
	background-color: #efefef;
	height: 30px;
	width: 30px;

	cursor: pointer;
}
.productBox .closeBtn img{
	width: 100%;
	height: 100%;
}
.productBox .item{
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
	padding: 10px;
}
.productBox .item .frame{
	width: 50%;
	margin: 15px;
}
.productBox .item .frame .pic{
	width: 100%;
	padding-top: 100%;
	background-size: cover;
	background-position: center;
}
.productBox .item .description{
	padding: 5px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 15px;

	letter-spacing: 0.1em;
	line-height: 1.6em;
}
.productBox .item .description .name,
.productBox .item .description .price,
.productBox .item .description .content,
.productBox .item .description p{
	padding: 5px 10px;
}
.productBox .item .description .name{
	font-weight: bold;
	font-size: 14px;
}
.productBox .item .description .price{
	color: red;
}
.productBox .item .description hr{
	width: 90%;
	margin: 0px auto 10px auto;
}
.productBox .addCart{
		display: inline-block;
		background-color: rgb(255,241,0);
		border: none;
		color: #000;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		letter-spacing: 0.15em;

		font-size: 10px;
		cursor: pointer;

		margin: 5px 10px;
}
@media(max-width: 768px){
	.productBox .item{
		flex-direction: column;
		border: none;
		width: 100%;
	}
	.productBox .item .frame{
		width: 80%;
	}
	.productBox .item .description{
		width: 80%;
		margin-top: 0;
	}
	.productBox .item .description .name{
		padding: 0;
	}
	.productBox .item .description .price{
		padding: 0;
		font-size: 15px;
	}
	.productBox .item .description hr{
		margin: 10px auto 10px auto;
	}
}
@media(max-width: 425px){
	.productBox{
		width: 90%;
		height: 90%;
		padding: 20px;
	}
	.productBox .item{
		flex-direction: column;
		border: none;
		width: 100%;
	}
	.productBox .item .frame{
		width: 90%;
	}
	.productBox .item .description{
		width: 100%;
		margin-top: 0;
	}
}
/*------------ footer ------------*/

footer{
	height: 100px;
	background-color: #efefef;
}