html,body {
  margin: 0;
  color: #bbb;
  font: 600 16px/18px 'Arial', sans-serif;
  min-height: 100%
  
 }
.container-fluid{padding: auto;height: 100%}
form{margin: auto}

.login-box {
  width: 100%;
  padding: 100px 0;
  margin: auto;
 }

.login-snip {
  width: 100%;
  height: 100%;
  /*background-color: pink;*/
 }

.login-snip label.tab{
    left: 50px;
    right: auto
}
.login-snip .login,
.login-snip .sign-up-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all .4s linear
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
  display: none
}

/*.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
  text-transform: uppercase;

}*/

.login-snip .tab {
  font-size: 22px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 100px;
  margin-bottom: 15px;
  display: inline-block;
  
}




.login-snip .sign-in:checked + .tab,
.login-snip .sign-up:checked + .tab {
  color: black;
    
    
}

.login-space {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d
}

.login-space .group {
  margin-bottom: 15px
}

.login-space .group .label,
.login-space .group .button {
  width: 100%;
  color: #fff;
  display: block
}



.keyin:focus {
  /*管inputfocus時的外框*/
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}


.login-space .group .input {
  /*key in的字*/
  width: 100%;
  color: black;
  display: block
}

.login-space .group .input,
.login-space .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: #FFFBC2
}

.login-space .group input[data-type="password"] {
  text-security: circle;
  -webkit-text-security: circle
}

.login-space .group .label {
  /*管小字標題*/
  color: black;
  font-size: 12px
}

.login-space .group .button {
  background: black;
}

.login-space .group .button:hover {
  background: #FFF100;
  color: black;
  font-weight: bold
}

.login-space .group .button:active {
  background: #FFF100;
  color: black;
  font-weight: bold;
}

.login-space .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: #FFFBC2;

}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all .2s ease-in-out 0s
}

.login-space .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0)
}

.login-space .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0)
}

.login-space .group .check:checked + label {
  color: black
    /*keep me sign in*/
}

.login-space .group .check:checked + label .icon {
  background: #1161ee
}

.login-space .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg)
}

.login-space .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg)
}

.login-snip .sign-in:checked + .tab + .sign-up + .tab + .login-space .login {
  transform: rotate(0)
}

.login-snip .sign-up:checked + .tab + .login-space .sign-up-form {
  transform: rotate(0)
}

*,
:after,
:before {
  box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table
}

.clearfix:after {
  clear: both;
  display: block
}

a {
  color: inherit;
  text-decoration: none
}

.foot {
  text-align: center
}


::placeholder {
  color: #b3b3b3
}


